.Homepage {
  font-size: 20px;
  text-align: center;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  width: 100%;

  @include display-box;
  @include box-ordinal-group(1);
  @include box-flex(1);
  @include box-orient(horizontal);
  @include box-pack(center);
  @include box-align(center);

  p {
    line-height: 1.5em;
  }
}

.Homepage, .Homepage-content {
  max-width: 640px;
}

.Homepage-content {
  padding: 50px 30px;
}

.Homepage-logo {
  @include user-select(none);
  margin-bottom: 20px;
  width: 80%;
  max-width: 350px;
  max-height: 126px;
}

.Homepage-links {
  padding: 0;

  li {
    list-style-type: none;
    padding-bottom: 10px;

    @media screen and (min-width: 450px) {
      display: inline;
      padding: 0 6px;

      &:not(:first-child):before {
        content: "·";
        padding-right: 14px;
      }
    }
  }
}
