// Common variables to define font weights
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Common variables to define font families
$font-family-sans-serif: Source Sans Pro, sans-serif;
$font-family-monospace: Source Code Pro, monospace;

// Others
$primary-color: #1d143e;
$primary-invert-color: #fdfdfd;
$grey: #efefef;
