@charset "utf-8";
@import "bourbon";
@import "normalize";

html.index,
html.index body {
  height: 100%;
}

html.index body {
  -webkit-font-smoothing: antialiased;
  background: #1d143e;
  color: #fdfdfd;
  font-family: Source Sans Pro, sans-serif;
  font-size: 20px;
  text-align: center;
}

.Homepage {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  width: 100%;

  @include display-box;
  @include box-ordinal-group(1);
  @include box-flex(1);
  @include box-orient(horizontal);
  @include box-pack(center);
  @include box-align(center);

  p {
    line-height: 1.5em;
  }

  a {
    border-bottom: 2px solid rgba(255,255,255,.2);
    color: inherit;
    text-decoration: none;

    &:hover {
      border-color: inherit;
    }
  }
}

.Homepage, .Homepage-content {
  max-width: 640px;
}

.Homepage-content {
  padding: 50px 30px;
}

.Homepage-logo {
  margin-bottom: 20px;
  width: 80%;
  max-width: 350px;
  max-height: 126px;
}

.Homepage-links {
  padding: 0;

  li {
    list-style-type: none;
    padding-bottom: 10px;

    @media screen and (min-width: 375px) {
      display: inline;
      padding: 0 6px;

      &:not(:first-child):before {
        content: "·";
        padding-right: 14px;
      }
    }
  }
}
