<% wrap_layout :layout do %>
  <div class="Blog">
    <h1>
      <%= current_article.title %>
      <small><%= current_article.date.strftime('%b %e, %Y') %></small>
    </h1>

    <%= yield %>

    <%= link_to "Archive", "/blog" %>
  </div>
<% end %>
