<% @body_classes = "body--dark body--withBackground" %>

<div class="Blog">
  <div class="Blog-header">
    <% link_to "/", class: "u-noBorder" do %>
      <%= image_tag "logo-square.svg", alt: "Made by Form", class: "Blog-logo", draggable: "false" %>
    <% end %>
  </div>

  <div class="Blog-archive">
    <h2>Blog Posts</h2>

    <nav>
      <ul>
        <% page_articles.each_with_index do |article, i| %>
          <li>
            <span class="Blog-archive-date">
              <%= article.date.strftime('%b %e, %Y') %>
            </span>
            <%= link_to article.title, article %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</div>
