---
title: Made by Form
---

<div class="container">
  <div class="content">
    <!--[if lte IE 8]><%= image_tag "logo.png", alt: "Made by Form", class: "logo" %><![endif]-->
    <!--[if gt IE 8]><!--><%= image_tag "logo.svg", alt: "Made by Form", class: "logo", draggable: "false" %><!--<![endif]-->
    <p>
      We're a consultancy working in the intersection of code and design.
      Our expertise lies in web application and iOS development, user experience design and research.
    </p>
    <p>
      Reach us at <a href="mailto:hello@madebyform.com">hello@madebyform.com</a> to find out more.
    </p>
  </div>
</div>
